.mat-dialog-actions {
    justify-content: flex-end;
}

.full {
    width: 100%;
}

.date {
    width: 50%;
}

.time {
    width: 30%;
    margin-left: 12px;
}

#check {
    margin-left: 12px;
    float: right;
}