h1 {
    font-weight: 300;
    font-size: 56px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.subhead {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87)
}

.content {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-top: 24px;
}

.contentHeaders {
    text-align: center;
    margin-top: 24px;
}