<div>
    <h1>About Share Our Table</h1>
</div>
<div>
    <h2 class="contentHeaders">The Why</h2>
    <p class="content">
        A strong community depends on an accessible and affordable food system – one that meets current food needs and
        builds capacity to provide healthy food for generations to come. Yet, in the Omaha-Council Bluffs metropolitan
        area, approximately 100,810 people (12.5%) experience food insecurity, meaning they do not consistently know
        where their next meal will come from. More troubling are the pockets of deep food insecurity that exist in
        northeast, southeast, and northwest Omaha, and portions of Pottawattamie County, where food insecurity rates can
        reach as high as 48.5%. Food insecurity is even more common among families with children.
    </p>
    <h2 class="contentHeaders">Vision</h2>
    <p class="content">
        We envision a food-secure community where every person in the Omaha-Council Bluffs metro area has access to an
        adequate supply of nutritious, affordable and culturally-appropriate food to be productive members of our
        community
    </p>
    <h2 class="contentHeaders">Long-Term Goals</h2>
    <ul class="content">
        <li>
            Goal 1: All community members have equitable and adequate access to nutritious food.
        </li>
        <br>
        <li>
            Goal 2: Food is produced and distributed in ways that create a sustainable system that values workers,
            consumers, and the land.
        </li>
        <br>
        <li>
            Goal 3: Community members have knowledge and skills to grow, select, and prepare nutritious food to maximize
            resources.
        </li>
        <br>
        <li>
            Goal 4: Catalyze community change around food system challenges and root causes of hunger.
        </li>
    </ul>
    <h2 class="contentHeaders">Background</h2>
    <ul class="content">
        <li>
            The Healthy Food For All plan was published in November 2018: <a target="_blank"
                href="https://www.unitedwaymidlands.org/food-plan/">https://www.unitedwaymidlands.org/food-plan/</a>
        </li>
        <br>
        <li>
            The first Share Our Table Summit was held June 28, 2019 to celebrate and educate on the planning process and
            to prepare for action.
        </li>
        <br>
        <li>
            August 2019 was the official launch of Share Our Table's work, beginning with leadership elections and
            workgroup formation. These new teams will identify priority areas for action from the plan for year one.
        </li>
        <br>
        <li>
            We constantly strive to invite more organizations and community members to the table to participate.
            Membership is open for Leadership Council and workgroups throughout the year.
        </li>
    </ul>
    <h2 class="contentHeaders">Join Us</h2>
    <p class="content">
        Get involved by joining a committee, workgroup, and/our Leadership Council. Contact Sheena Helgenberger at
        <a href="mailto:sheenah@thewellbeingpartners.org">sheenah@thewellbeingpartners.org</a> to learn more.
    </p>
    <ul class="content">
        <li>
            Leadership Council consists of Work Group Leads, Executive Committee and organizations and residents who are
            committed to the Share Our Table vision
        </li>
        <br>
        <li>
            Work Groups: Carry out the goals of the Food Plan
        </li>
        <br>
        <li>
            Committees: Address other special topics, as needed, to promote Share Our Table’s vision
        </li>
    </ul>
    <h2 class="contentHeaders">Work Groups</h2>
    <ul class="content">
        <li>Work Group 1 Priorities</li>
        <ul>
            <li>Integrate best practices in emergency food providers (pantries) to ensure all have access to nutritious
                foods with dignity</li>
            <li>Ensure meals are available to all who are hungry</li>
        </ul>
        <br>
        <li>Work Group 2/Local Foods Coordinating Council (Heartland 2050) Priorities</li>
        <ul>
            <li>Pass an Urban Ag Ordinance</li>
            <li>Develop a Food Equity Scorecard</li>
            <li>Address farmland sustainability</li>
        </ul>
        <br>
        <li>Work Group 3 Priorities</li>
        <ul>
            <li>Improve nutrition in child care settings</li>
        </ul>
        <br>
        <li>Work Group 4 Priorities</li>
        <ul>
            <li>Increase capacity to advocate jointly on core issues</li>
            <li>Engage partners across the food system in advocacy on food security issues across domains</li>
        </ul>
        <br>
        <li>Resident Engagement Committee Priority</li>
        <ul>
            <li>Engage with people with lived experiences of food insecurity</li>
        </ul>
    </ul>
</div>