
.example-form {
    display: inline-block;   
    min-width: 350px;
    max-width: 500px;
    height: 55px;
    width: 80%;
    margin-top: 24px;
    margin-left: 24px;
}

mat-tab-group{
    margin-top: 24px;
    margin-left: 24px;
    
}
button{
    display: inline-block;   
    margin-top: 35px;
    margin-right: 24px;

    height: 50px;
    width: 130px;
    
    font-size: 18px;
}
.example-full-width {
    width: 100%;
}