.header-background {
    overflow: hidden;
    display: block;
    background: #3F51B5;
}

.header-section {
    text-align: center;
    padding-top: 60px;
    display: block;
}

.header-headline {
    color: white;
    display: block;
}

.header-button {
    text-align: center;
    margin: 60px 0;
}

h1 {
    font-weight: 300;
    font-size: 56px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}