<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <img id="logo" src="assets/Share_Our_Table_Spoon.png" alt="Share Our Table Logo">
            <h2 class="subhead">A coalition focused on food security.</h2>
        </div>
    </div>
</header>
<div>
    <p class="content">
        Thank you for visiting the Share Our Table website!
    </p>
    <p class="content">
        Share Our Table is a coalition focused on food security.
    </p>
    <p class="content">
        <strong>Food security:</strong> A condition in which all community residents obtain a safe, culturally
        acceptable, nutritionally
        adequate diet through a sustainable food system that maximizes community self-reliance, social justice, and
        democratic decision-making.
    </p>
    <div class="header-button">
        <button mat-raised-button color="primary" routerLink='/about'>Learn More</button>
    </div>
    <div id="footer">
        <img id="footerImg" src="assets/Canva.jpg" alt="Farmer's Market">
    </div>
</div>