<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1>Share Our Table</h1>
            <h2 class="subhead">A coalition focused on food security.</h2>
        </div>
        <div class="header-button">
            <button mat-raised-button routerLink='/organizations'>Get Started</button>
        </div>
    </div>
</header>
<div>
    <p class="content">
        <strong>Food security:</strong> A condition in which all community residents obtain a safe, culturally acceptable, nutritionally
        adequate diet through a sustainable food system that maximizes community self-reliance, social justice, and
        democratic decision-making.
    </p>
</div>