<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1>Share Our Table</h1>
            <h2 class="subhead">A coalition focused on food security.</h2>
        </div>
        <div class="header-button">
            <button mat-raised-button routerLink='/organizations'>Get Started</button>
        </div>
    </div>
</header>
<div>
    <h2 class="contentHeaders">The Why</h2>
    <p class="content">
        A strong community depends on an accessible and affordable food system – one that meets current food needs and
        builds capacity to provide healthy food for generations to come. Yet, in the Omaha-Council Bluffs metropolitan
        area, approximately 100,810 people (12.5%) experience food insecurity, meaning they do not consistently know
        where their next meal will come from. More troubling are the pockets of deep food insecurity that exist in
        northeast, southeast, and northwest Omaha, and portions of Pottawattamie County, where food insecurity rates can
        reach as high as 48.5%. Food insecurity is even more common among families with children.
    </p>
    <h2 class="contentHeaders">Vision</h2>
    <p class="content">
        We envision a food-secure community where every person in the Omaha-Council Bluffs metro area has access to an
        adequate supply of nutritious, affordable and culturally-appropriate food to be productive members of our
        community
    </p>
    <h2 class="contentHeaders">Long-Term Goals</h2>
    <ul class="content">
        <li>
            Goal 1: All community members have equitable and adequate access to nutritious food.
        </li>
        <br>
        <li>
            Goal 2: Food is produced and distributed in ways that create a sustainable system that values workers,
            consumers, and the land.
        </li>
        <br>
        <li>
            Goal 3: Community members have knowledge and skills to grow, select, and prepare nutritious food to maximize
            resources.
        </li>
        <br>
        <li>
            Goal 4: Catalyze community change around food system challenges and root causes of hunger.
        </li>
    </ul>
    <h2 class="contentHeaders">Join Us</h2>
    <p class="content">
        Get involved by joining a committee, workgroup, and/our Leadership Council. Contact Sheena Helgenberger at
        <a href="mailto:sheenah@thewellbeingpartners.org">sheenah@thewellbeingpartners.org</a> to learn more.
    </p>
    <ul class="content">
        <li>
            Leadership Council consists of Work Group Leads, Executive Committee and organizations and residents who are committed to the Share Our Table vision
        </li>
        <br>
        <li>
            Work Groups: Carry out the goals of the Food Plan
        </li>
        <br>
        <li>
            Committees: Address other special topics, as needed, to promote Share Our Table’s vision
        </li>
    </ul>
</div>