.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

#filler {
    width: 5%;
}

#feed {
    padding-left:5%; 
    padding-right:5%;
    width: 65%;
}

#meetings {
    width: 30%;
}