.header-background {
    overflow: hidden;
    display: block;
    background-color: #f2902d;
}

.header-section {
    text-align: center;
    padding-top: 60px;
    display: block;
}

.header-headline {
    color: white;
    display: block;
}

.header-button {
    text-align: center;
    margin: 60px 0;
}

h1 {
    font-weight: 300;
    font-size: 56px;
    color: rgba(0, 0, 0, 0.87);
}

.subhead {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87)
}

.content {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.contentHeaders {
    text-align: center;
    margin-top: 24px;
}