<h1 mat-dialog-title>Add an Organization: </h1>

<h2>Organization Name:</h2>
<mat-form-field class="description" appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput>
</mat-form-field>

<h2>Organization Description:</h2>
<mat-form-field class="description" appearance="outline">
  <mat-label>Description</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<h2>Organization Contact Info:</h2>
<mat-form-field class="description" appearance="outline">
  <mat-label>Contact Info</mat-label>
  <input matInput>
</mat-form-field>

<h2>Organization Link:</h2>
<mat-form-field class="description" appearance="outline">
  <mat-label>Link</mat-label>
  <input matInput>
</mat-form-field>

<h2>Organization Image:</h2>
<input type="file">

<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="save(document.getElementById('name').value, document.getElementById('contactInfo').value, document.getElementById('description').value, document.getElementById('link').value)" cdkFocusInitial>Save</button>
</div>