<div>
  <!--We need this to link to a new Add an Organization Page with a fields for a new org-->
  <button *ngIf="user=='exec'" class="fab" mat-mini-fab color="primary" (click)="openDialog()">
    <mat-icon> add </mat-icon>
  </button>
  <mat-card class="example-card" *ngFor="let organization of organizations | async">
    <a href="#" routerLink="/organizations/{{organization.name}}">
      <img mat-card-image src={{organization.image}}>
      <mat-card-content>
        <h2>{{organization.name}}</h2>
      </mat-card-content>
    </a>
  </mat-card>
</div>