<div>
  <mat-card class="example-card" *ngFor="let organization of organizations | async">
    <a href="#" routerLink="/organizations/{{organization.name}}">
      <img mat-card-image src={{organization.image}}>
      <mat-card-content>
        <h2>{{organization.name}}</h2>
      </mat-card-content>
    </a>
  </mat-card>

  <!--We need this to link to a new Add an Organization Page with a fields for a new org-->
  <button *ngIf = "user=='exec'" mat-mini-fab color="primary"><mat-icon> add </mat-icon> </button>
</div>
