.example-card {
  max-width: 250px;
  margin: 24px;
}

.example-header-image {
  background-size: cover;
}

img {
  height: 200px;
}

mat-card-content {
  height: 100px;
}


.searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 24px;
}

.example-full-width {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
