<div class="searchContainer">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>
<div>
  <mat-grid-list cols="4" rowHeight="1:1" [gutterSize]="'1px'">
    <mat-grid-tile *ngFor="let organization of organizations">
      <mat-card class="example-card">
        <a href="#" routerLink="/organization">
          <img mat-card-image src={{organization.image}}>
          <mat-card-content>
            <h2>{{organization.name}}</h2>
          </mat-card-content>
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
