<div class="card">
  <mat-card class="example-card">
    <img mat-card-image src={{organizations[1].image}}>
    <mat-card-content>
      <button mat-icon-button style="float: right;">
        <mat-icon (click)="editOrganization(organizations[1])">edit</mat-icon>
      </button>
      <h2>{{organizations[1].name}}</h2>
      <div style="margin-bottom: 12px;">
        <a *ngIf="!organization" href="{{organizations[1].link}}">{{organizations[1].link}}</a>
      </div>
      <div *ngIf="organization">
        <form [formGroup]=organization>
          <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <div>
            <button type="reset" mat-button (click)="cancel()">Cancel</button>
            <button type="submit" mat-button (click)="save()">Save</button>
          </div>
        </form>
      </div>
      <p *ngIf="!organization">{{organizations[1].description}}</p>
    </mat-card-content>
  </mat-card>
</div>
