h2{
    text-align: center;
    margin-top: 20px;
}

h1{
    font-size: 40px;
}
.box{
    margin-top: 50px;

    display: flex;
    align-items:center; 
    justify-content:center;

    div{
        padding: 30px;
    }

    .public-button{
        color: #FFFFFF;
    }
}

.material-icons{
    font-size: 100px;
}