<h2>Are you going to upload your file to</h2>

<div class="box">
    <div class="public-button">
        <button (click)="openPublicUploader()">
            <h2>Public</h2>
            <i class="material-icons">
                lock_open
            </i>
        </button>
    </div>

    <div>
        <h1>or</h1>
    </div>
    

    <div class="public-button">
        <button (click)="openPrivateUploader()">
            <h2>Private</h2>
            <i class="material-icons">
                lock
            </i>
        </button>
    </div>
</div>




