h2{
    text-align: center;
    margin-top: 20px;
}

h1{
    font-size: 40px;
}

.box{
    margin-top: 50px;

    display: flex;
    align-items:center; 
    justify-content:center;

    .buttons{
        margin: 0 30px;
        height: 200px;
        width: 200px;

        .theButton{
            height: 100%;
            width: 100%;

            button{
                margin: 20px 40px;
            }
        }
    }

    .material-icons{
        font-size: 100px;
    }
    
}

