h2{
    margin-top: 20px;
}
input{
    margin-left: 50px;
}
.description{
    display: block;
    width: 70%;
    margin-left: 50px;
}
.saveButton {
    display: block;
    margin-bottom: 30px;
}

mat-slide-toggle{
    margin-left: 20px;
}

.directory{
    margin-left: 20px;
}
