<h1>This file is: </h1>
<mat-slide-toggle [(ngModel)]="toggleChecked">
    <span *ngIf="!toggleChecked">Public File</span>
    <span *ngIf="toggleChecked">Private File</span>
</mat-slide-toggle>

<h2>Add a file to: </h2>

<form>
    <h2>File: </h2>
    <input 
    class="file-input" 
    type="file" 
    (change)="setUpload($event.target.files)" 
    multiple
    accept=".docx,.pptx,.xlsx,.pdf"
    >

    <p class="file-size">Maximum upload file size: 50MB.</p>
    <p class="file-type">Acceptable file types: docx, pptx, xlsx, pdf.</p>

    <h2>Description: </h2>

    <mat-form-field class="description" appearance="outline">
        <textarea ref-textarea [(ngModel)]="description" matInput placeholder="Enter message here..."></textarea>
    </mat-form-field>
    <button class="saveButton" style="float: right;" mat-raised-button color="primary" (click)="save(textarea.value)">Save</button>
</form>

<div class="directory">
    <public-directory *ngIf="!toggleChecked">
        <div *ngFor="let file of files">
            <upload [file]="file" [description]="description" [folder]="'Public'"></upload>
        </div>
    </public-directory>
    
    <private-directory *ngIf="toggleChecked">
        <div *ngFor="let file of files">
            <upload [file]="file" [description]="description" [folder]="'Private'"></upload>
        </div>
    </private-directory>
</div>
