@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */

$share-our-table-brand: (
    50: fdf2e6,
    100: #fbdec0,
    200: #f9c896,
    300: #f6b16c,
    400: #f4a14d,
    500: #f2902d,
    600: #f08828,
    700: #ee7d22,
    800: #ec731c,
    900: #e86111,
    A100: #ffffff,
    A200: #ffece2,
    A400: #ffcaaf,
    A700: #ffb996,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $black-87-opacity,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$my-custom-primary: mat-palette($share-our-table-brand);
$my-custom-accent: mat-palette($share-our-table-brand);
// $my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent);

@include angular-material-theme($my-custom-theme);