<mat-card id="meetings">
  <div>
    <h2>Upcoming Meetings</h2>
    <div *ngFor="let meeting of meetings">
      <a href="#" routerLink="#">{{meeting.name}}</a>
      <div class="flex">
        <mat-icon class="icons">calendar_today</mat-icon>
        <h5>{{meeting.date}} at {{meeting.time}}</h5>
      </div>
      <div class="flex">
        <mat-icon class="icons">location_on</mat-icon>
        <h5>{{meeting.location}}</h5>
      </div>
    </div>
    <a href="#" id="showAll" routerLink="/calendar">Show All</a>
  </div>
</mat-card>
