<mat-drawer-container class="navigation-rail-page" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item class="spacer" routerLink="home">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line>Home</h4>
      </mat-list-item>
      <mat-list-item class="spacer" routerLink="files">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4  mat-line>Files</h4 >
      </mat-list-item>
      <mat-list-item class="spacer" routerLink="organizations">
        <mat-icon mat-list-icon>group_work</mat-icon>
        <h4 mat-line>Organizations</h4>
      </mat-list-item>
      <mat-list-item class="spacer" routerLink="calendar">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <h4 mat-line>Calendar</h4>
      </mat-list-item>
      <mat-list-item class="spacer" routerLink="notifications">
        <mat-icon mat-list-icon>notifications</mat-icon>
        <h4 mat-line>Notifications</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="example-sidenav-content">
  </div>
</mat-drawer-container>
