.spacer {
    margin-right: 24px;
}

.navigation-rail-page {
  .example-sidenav-content {
    display: flex;
    height: 100vh;
    align-items: baseline;
    justify-content: center;
  }

  .example-sidenav {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
