<div class="searchContainer">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="text" matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <textarea matInput placeholder="Enter message here..."></textarea>
    </mat-form-field>
    <button style="float: right;" mat-raised-button color="primary">Post</button>
  </form>
  <div id="posts" *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{post.name}}</mat-card-title>
        <mat-card-subtitle>{{post.organization}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{post.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
