<h1>Add a file to</h1>

<mat-form-field>
    <mat-label>Drirectry Name</mat-label>
    <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country">
    <!-- Should {file.name} be used -->
      <mat-option *ngFor="let file of file" [value]="file.name">{{file.name}}</mat-option>
    </mat-select>
</mat-form-field>

<form>
    <h2>File: </h2>
    <input class="file-input" type="file" (change)="setUpload($event.target.files)">

    <h2>Description: </h2>

    <mat-form-field class="description" appearance="outline">
        <textarea matInput placeholder="Enter message here..."></textarea>
    </mat-form-field>

    <input (click)="save()" value="Save" class="saveButton" style="float: right;" mat-raised-button color="primary" mat-dialog-close>
</form>


<div *ngFor="let file of files">
    <upload [file]="file"></upload>
</div>
